{% extends "layout.html" %}
{% block title %}Edit Item{% endblock %}
{% block content %}
    <h1>Edit Item</h1>
    <div class="mdl-grid Grocery-Catalog-form mdl-shadow--2dp">
        <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
            <form action="{{ url_for('edit_item', item_name=item.name) }}" method="post"  enctype="multipart/form-data">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" name="name" id="name" value="{{ item.name }}" />
                    <label class="mdl-textfield__label" for="name">Item name</label>
                </div>
                <br>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <textarea class="mdl-textfield__input" name="description" rows="3" cols="30" id="description">{{ item.description }}</textarea>
                    <label class="mdl-textfield__label" for="description">Description</label>
                </div>
            
                <br>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <select class="mdl-textfield__input" name="category" id="category">
                            {% for category in categories %}
                            {% if category.id == item.category_id %}
                            <option value="{{ category.name }}" selected>{{ category.name }}</option>
                            {% else %}
                            <option value="{{ category.name }}">{{ category.name }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                        <label class="mdl-textfield__label" for="category">Category</label>
                    </div>

                <br>
                    <input class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="submit" value="Save">
                    {% for category in categories if item.category_id == category.id %}
                        <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--grey-300 Grocery-Catalog-cancel-button" href="{{ url_for('show_item', category_name=category.name, item_name=item.name) }}">Cancel</a>
                    {% endfor %}
                </p>
            </form>
        </div>
    </div>
    <div class="mdl-grid"></div>
{% endblock %}