{% extends "layout.html" %}
{% block title %}Homepage{% endblock %}
{% block content %}
<h1>Latest items</h1>
<div class="mdl-grid">
    {% for item in latest_items %}
    {% for category in categories if item.category_id == category.id %}
    <div class="mdl-card mdl-cell mdl-cell--4-col mdl-cell--5-col-tablet mdl-shadow--2dp">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text"> {{ item.name }}</h2>&nbsp;
        </div>
        <div class="mdl-card__supporting-text">
            <em>({{ category.name }})</em>
        </div>

        <div class="mdl-card__actions mdl-card--border">

            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
                href="{{ url_for('show_item', category_name=category.name, item_name=item.name) }}">
                Details
            </a>
        </div>
    </div>
    {% endfor %}
    {% endfor %}
</div>
{% include "add_item.html" %}
{% endblock %}