{% extends "layout.html" %}
{% block title %}{{ category.name }}{% endblock %}
{% block content %}
    {% if items|length == 0 %}
        <h1>{{ category.name }} <br><small>(0 items)</small></h1>
    {% else %}
        {% if items|length > 1 %}
        <h1>{{ category.name }} <br><small>({{ items|length }} items)</small></h1>
        {% else %}
        <h1>{{ category.name }} <br><small>(1 item)</small></h1>
        {% endif %}
    {% endif %}
        <div class="mdl-grid">
        {% for item in items %}
        <div class="mdl-card mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-shadow--2dp">
            <a href="{{ url_for('show_item', category_name=category.name, item_name=item.name) }}">
            </a>
            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">{{ item.name }}</h2>
            </div>

            <div class="mdl-card__actions mdl-card--border">
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{{ url_for('show_item', category_name=category.name, item_name=item.name) }}">
                    Details
                </a>
            </div>
        </div>
        {% endfor %}
    {% include "add_item.html" %}
{% endblock %}