html {
    color: rgba(66,66,66,.87);
}

html, body {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    margin: 0;
    padding: 0;
}


textarea {
    font-family: "Helvetica","Arial", sans-serif;
}

/* Make the title look like normal text while clickable. */
.mdl-layout-title a {
    text-decoration: none;
    color: inherit;
}

/* Don't let the content get too wide on large screens. */
.mdl-grid {
	max-width: 800px;
}

.mdl-card__media {
	margin: 0;
}

.mdl-card__media > img {
	max-width: 100%;
}

.mdl-card__supporting-text {
    font-size: 15px;
    color: rgba(0,0,0,.65);
}

/* Height of item preview cards on homepage and category pages. */
.Grocery-Catalog-card_latest {
    height: 255px;
}

.Grocery-Catalog-card_item {
    background-color: #fff;

}

h1 {
    text-align: center;
    font-size: 52px;
}

/* Style card for Google login card */
.Grocery-Catalog-card-login-g > .mdl-card__title {
    background: #EF5350;
}

.google-login-button {
    color: white;
    background: #EF5350;
}

.google-login-button:hover {
    color: white;
    background: rgb(243, 149, 147);
}

/* Add item button fixed in bottom-left of the screen. */
.Grocery-Catalog-add-item_button {
    position: fixed;
    display: block;
    right: 0;
    bottom: 0;
    margin-right: 40px;
    margin-bottom: 40px;
    z-index: 900;
}

/* Flash feedback message styling */
.flash_msg {
    color: white;
    background-color: #ff4081;
    padding: 10px;
}

/* Put a bit of space between action button and the cancel button. */
.Grocery-Catalog-cancel-button {
    margin-left: 15px;
}

.Grocery-Catalog-form {
    background-color: #fff;
    padding: 15px;
}


/* Set text to white on a red background. */
.Grocery-Catalog-delete-button {
    color: rgba(255, 255, 255, 0.97);
}

.Grocery-Catalog-login-logout-button {
    margin-left: 10px;
}

/* Make profile picture round */
.Grocery-Catalog-profile-picture {
    border-radius: 50%;
}

/* Adjust drawer layout slightly */
.mdl-layout__drawer > .mdl-layout-title {
    line-height: 40px;
}

.mdl-layout__drawer .mdl-navigation {
    padding-top: 2px;
    padding-bottom: 16px;
}